body{
	background-attachment: fixed;
	background-color: rgb(250, 241, 122);;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
h1{
	color: black;
	background-color: rgb(250, 224, 140);
	align-items: center;
}
h2{
	color: black;
	background-color: rgb(250, 224, 140);
}
 a{
	text-decoration: none;
}
footer{
		background-color: rgb(247, 161, 0);
		color: ffd700;
		width: 100%;
		height: 60px;
		text-align: center;
		list-style-position: inside;
}
